<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div th:replace="fragments/general.html :: link"></div>
	<link rel="stylesheet" href="/css/caja-alta.css">

	<title>Ingreso de Fondos</title>
</head>

<body>

	<div th:replace="fragments/general.html :: fondo"></div>
	<nav th:replace="fragments/general.html :: nav"></nav>

	<main>
		<form action="" method="POST">
			<h1>Ingreso de Fondos</h1>
			<p class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></p>
			<h2>Datos</h2>
			<section class="datos">
				<select class="form-select" id="fecha" name="fecha">
					<option th:if="${#lists.isEmpty(fechas)}" selected disabled>fecha</option>
					<option th:each="fecha : ${fechas}" th:value="${#dates.format(fecha, 'yyyy/MM/dd')}"
						th:text="${#dates.format(fecha, 'dd/MM/yyyy')}"></option>
				</select>
				<select class="form-select" name="cliente">
					<option selected disabled>cliente</option>
					<option th:each="cliente2 : ${clientes}" th:value="${cliente2.id_cliente}"
						th:text="${cliente2.apellido + ', ' + cliente2.nombre}"
						th:selected="${cliente != null && cliente2.id_cliente == cliente.id_cliente}"></option>
				</select>
			</section>
			<input th:value="${detalle}" type="text" class="form-control" id="detalle" placeholder="detalle"
				name="detalle">
			<h2>Forma de pago</h2>
			<section>
				<div class="container">
					<div>
						<h3>Efectivo</h3>
						<input placeholder="importe" name="efectivo" step="0.01" class="form-control" type="number">
					</div>
					<div>
						<h3>Transferencia</h3>
						<input placeholder="importe" name="transferencia" step="0.01" class="form-control"
							type="number">
					</div>
				</div>
				<h3>
					Cheques
					<img src="/images/plus.png" alt="agregar" class="abrirEmergente" onclick="abrirEmergente()">
				</h3>
				<div id="inputsCheques">

				</div>
				<div class="difuso" id="difuso">
					<div class="listaCheques">
						<img class="cerrarConcepto" src="/images/botonCerrar.png" alt="cerrarConcepto"
							onclick="cerrarEmergente()">
						<div class="chequeInline">
							<h2>Cheques</h2>
							<a class="btn btn-outline-secondary" id="nuevoCheque" target="_blank"
								href="/aft/cheque">Nuevo</a>
						</div>

						<p>En esta lista se muestran los cheques cargados y no vinculados a un Ingreso de Fondos.</p>
						<div class="tablaDeCheques">
							<table id="tabla" class="table">
								<colgroup>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col style="width:140px">
								</colgroup>
								<tr>
									<th scope="col">Nº</th>
									<th scope="col">Banco</th>
									<th scope="col">CUIT</th>
									<th scope="col">Día</th>
									<th scope="col">Importe</th>
									<th scope="col">Seleccionar</th>
								</tr>
								<tr th:each="cheque : ${cheques}" th:id="${cheque.id_cheque}">
									<td th:text="${cheque.numero}"></td>
									<td th:text="${cheque.banco}"></td>
									<td th:text="${cheque.cuit}"></td>
									<td th:text="${#dates.format(cheque.fecha, 'dd/MM/yyyy')}"></td>
									<td th:text="${cheque.importe}"></td>
									<td><a class="btn btn-primary" th:attr="onclick=|agregarCheque('${cheque.id_cheque}','${cheque.numero}',
											'${cheque.banco}','${cheque.cuit}','${#dates.format(cheque.fecha, 'dd/MM/yyyy')}',
											'${cheque.importe}')|">Seleccionar</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</section>
			<button type="submit" class="btn btn-secondary">Cargar Ingreso</button>
		</form>
	</main>
	<script src="/js/app.js"></script>
	<script>
		var divCheque = document.getElementById("inputsCheques");

		function agregarCheque(id_cheque, numero, banco, cuit, fecha, importe) {



			let inputid = document.createElement("input");
			inputid.type = "text";
			inputid.name = "cheque[]";
			inputid.className = "form-control";
			inputid.value = id_cheque;
			inputid.hidden = true;

			let inputNumero = document.createElement("input");
			inputNumero.type = "number";
			inputNumero.className = "form-control form-chicos";
			inputNumero.value = numero;
			inputNumero.disabled = true;

			let inputBanco = document.createElement("input");
			inputBanco.type = "text";
			inputBanco.className = "form-control form-chicos";
			inputBanco.value = banco;
			inputBanco.disabled = true;

			let inputCUIT = document.createElement("input");
			inputCUIT.type = "number";
			inputCUIT.className = "form-control form-chicos";
			inputCUIT.value = cuit;
			inputCUIT.disabled = true;

			let inputFecha = document.createElement("input");
			inputFecha.type = "date";
			inputFecha.className = "form-control form-chicos";
			inputFecha.value = fecha;
			inputFecha.disabled = true;

			let inputImporte = document.createElement("input");
			inputImporte.type = "number";
			inputImporte.className = "form-control form-chicos";
			inputImporte.value = importe;
			inputImporte.disabled = true;



			let div = document.createElement("div");
			div.className = "datos";
			div.appendChild(inputid);
			div.appendChild(inputNumero);
			div.appendChild(inputBanco);
			div.appendChild(inputCUIT);
			div.appendChild(inputFecha);
			div.appendChild(inputImporte);

			divCheque.appendChild(div);

			let row = document.getElementById(id_cheque);
			row.hidden = true;

		}
	</script>
</body>

</html>